<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="<?php echo base_url() . '/style/admin/css/public.css'?>"/>
		<style type="text/css">
			span{
				color: #f00;
			}
		</style>
	</head>
	<body>
		<form action="<?php echo site_url('admin/article/send')?>" method="post" enctype="multipart/form-data">
			<table border="" cellspacing="" cellpadding="" class="table">
				<tr class="th"><td colspan="10">发表文章</td></tr>
				<tr>
					<td>标题</td>
					<td><input type="text" name="title" id="" value="<?php echo set_value('title')?>" />
						<?php echo form_error('title','<span>','</span>')?>
					</td>
				</tr>
				<tr>
					<td>类型</td>
					<td>
						<input type="radio" name="type" value="0" <?php echo set_radio('type','0',TRUE)?>/>普通
						<input type="radio" name="type" value="1" <?php echo set_radio('type','1')?>/>热门
					</td>
				</tr>
				<tr>
					<td>栏目</td>
					<td><select name="cid">
						<option value="1" <?php echo set_select('cid','1',TRUE)?>>情感</option>
						<option value="2" <?php echo set_select('cid','2')?>>生活</option>
					</select></td>
				</tr>
				<tr>
					<td>缩略图</td>
					<td><input type="file" name="" id="" value="" /></td>
				</tr>
				<tr>
					<td>摘要</td>
					<td><textarea name="info" rows="10" cols="100"><?php echo set_value('info')?></textarea><?php echo form_error('info','<span>','</span>')?></td>
				</tr>
				<tr>
					<td>内容</td>
					<td><textarea name="content" rows="30" cols="100"><?php echo set_value('content')?></textarea><?php echo form_error('content','<span>','</span>')?></td>
				</tr>
				<tr>
					<td colspan="10"><input type="submit" value="发布" class="input_button"/></td>
				</tr>
			</table>
			
		</form>
	</body>
</html>
